Source: gtk2-engines-experience
Section: x11
Priority: optional
Maintainer: Benjamin Berg <benjamin@sipsolutions.net>
Build-Depends: debhelper (>= 4.0.0), libgtk2.0-dev, bison | byacc, libtool, binutils (>= 2.14.90.0.7)
Standards-Version: 3.6.2

Package: gtk2-engines-experience
Architecture: any
Depends: ${shlibs:Depends}
Description: eXperience theme engine for GTK 2
 This package contains the eXperience theme engine, which is needed to be
 able to use the eXperience GTK theme.
 .
 It is a sophisticated pixmap based engine, which is able to do some pixmap
 operations dynamicaly. Most notable, it can change the color of pixmaps to
 represent the colors used inside the gtk theme. This feature is for example
 used to create the different color schemes available for the eXperience gtk
 theme.

Package: gtk2-engines-experience-dbg
Architecture: any
Depends: gtk2-engines-experience (= ${Source-Version})
Description: eXperience theme engine for GTK 2 - unstriped library
 This package contains the eXperience theme engine, which is needed to be
 able to use the eXperience GTK theme.
 .
 It is a sophisticated pixmap based engine, which is able to do some pixmap
 operations dynamicaly. Most notable, it can change the color of pixmaps to
 represent the colors used inside the gtk theme. This feature is for example
 used to create the different color schemes available for the eXperience gtk
 theme.
 .
 This package is provided primarily to provide a backtrace with
 names in a debugger, this makes it somewhat easier to interpret core
 dumps.
 .
 Most people will not need this package.
